<head>
        <!DOCTYPE html>
        <html>
        <head>
        
          <title>Jobs</title>
          <meta http-equiv="Cache-control" content="public">
          <meta name="viewport" content="width=device-width, user-scalable=no">
          <link href='../css/style.css' rel='stylesheet'>
        
        </head>
        <h1>Jobs DB</h1>

        <h3>Full DB</h3>
        <div id= "jobsDB">       
            <% companies.forEach( (company) => { %>
              <div class="companyDiv">
                  <!-- Company name -->
                  <%- JSON.stringify(company.name).replace(/"/g, '') %>
                  [<a href="#"   onclick=  "  { if(confirm('This will delete this entry. Are you sure?')){ window.open( 'delcomp/<%- company._id %>', '_self' )    }  }">x</a>]
              </div>
                  <% jobs.forEach( (job) => { %>
                      <% if(company.name === job.company){   %> 
                          <!-- Job name -->
                          <div class="jobDiv">
                              <%- JSON.stringify(job.position).replace(/"/g, '') %>, 
                              <%- JSON.stringify(job.experience).replace(/"/g, '') %>
                              (<%- JSON.stringify(job.salary).replace(/"/g, '') %>) k€
                              [<a href= "job-<%- job._id %>" </a>link</a>]
                          </div>
                      <% } %>
                  <% })  %>
          <% })  %>

                          </div>

        <div id="filtersDB">
            <form method="POST" action="/filter-view">
                <b> Company </b>  <br>
                  <!-- Filter 0 (company)  -->
                  <select name="f0" id="company" >
                    <option value="null" selected >All</option>
                    <% companies.forEach( (company) => { %>
                      <% if(company.name){ %>  
                        <option value = <%- JSON.stringify(company.name) %> >
                            <%- JSON.stringify(company.name).replace(/"/g, '') %>
                        </option>              
                        <% }  %>
                      
                    <% }) %>
                  </select><br><br>
                

                <b>Experience</b><br>
                  <!-- Filter 1 (exp)  -->
                  <input type="radio" name="f1" value="junior">
                  <label for="junior">Junior</label><br>
                  <input type="radio" name="f1" value="confirmed">
                  <label for="confirmed">Confirmed</label><br>
                  <input type="radio" name="f1" value="senior">
                  <label for="senior">Senior</label><br>
                  <input type="radio" name="f1" value="overlord">
                  <label for="overlord">Overlord</label><br><br>
                

                <b>Salary</b><br>
                <!-- Filter 2 (salary)  -->
                <input type="radio" name="f2" value="sal0">
                <label for="sal0"> < 30 </label><br>
                <input type="radio" name="f2" value="sal1">
                <label for="sal1"> 30 - 45 </label><br>
                <input type="radio" name="f2" value="sal2">
                <label for="sal2"> 45 - 70 </label><br>
                <input type="radio" name="f2" value="sal3">
                <label for="sal3"> > 70</label><br><br>
                <div>
                  <button type="submit">Filter</button>
                  <% if(msg === "err100"){ %>
                    <div class="errorMsg">No filter</div>
                    <% } %>
                </div>
              </form>


        </div>

        <h3>New company</h3>

        <form action="/newcompany" method="POST">
          <input type="text" name="company" placeholder="Company name" >
          <input type="submit" value="Add">
          <% if(msg === "err80"){ %>
            <div class="errorMsg">This company already exists </div>
            <% } %>
            <% if(msg === "err50"){ %>
              <div class="errorMsg">Please enter a valid name </div>
              <% } %>
              <% if(msg === "newCompAdded"){ %>
                <div class="okMsg">Company created </div>
                <% } %>
              


        </form>

        <h3>New job entry</h3>


        <form action="/newjob" method="POST">
            <select name="company" id="company">
                <option value="aa" selected hidden disabled >Select company</option>
                <% companies.forEach( (company) => { %>
                  <% if(company.name){ %>  
                    <option value = <%- JSON.stringify(company.name) %> >
                        <%- JSON.stringify(company.name).replace(/"/g, '') %>
                    </option>              
                    <% }  %>
                  
                <% }) %>
                
            </select>
            <input type="text" name="jobName" placeholder="Job name" >
            <input type="number" name="salary"  placeholder="Salary" >
            <select name="experience">
              <option value="aa" selected hidden disabled >Experience level</option>
              <option value="junior">Junior (0-2)</option>
              <option value="confirmed">Confirmed (2-5)</option>
              <option value="senior">Senior (>5)</option>
              <option value="overlord">Overlord (>10)</option>

            </select> 
            <input type="submit" value="Insert">
        
        </form>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        End

<style>


</style>

<script>

    


</script>